<<<<<<< HEAD
.titulo {
  color: gold;
  width: 310px;
  height: 50px;
  background-color: olive;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
=======
.titulo {
  color: gold;
  width: 310px;
  height: 50px;
  background-color: olive;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terjeta-de-mokepon {
  width: 100px;
  height: 100px;
  background-color: chocolate;
  padding: 10px;
  box-sizing: border-box;
}

input {
  display: none;
}